<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/site/icon.png" type="image/x-icon"/>
</head>

<body>
    <div class="form-container">
        <!-- <h1 style="text-align:center;">Register</h1> -->
        <% if (title) { %>
            <h1><%= title %></h1>
            <% } else { res.redirect('/') } %>
        
            <%- messages() %>

        <% if (errors) { %>
            
        <ul class="notice">
           <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <%  }) %>
        </ul>
        <% } %>
        
        <p>All fields are required.</p>
        <form id="registerForm" action="/account/register" method="post">
            <input type="firstname" name="account_firstname" placeholder="First Name" required>
            <input type="lastname" name="account_lastname" placeholder="Last Name" required>
            <input type="email" name="account_email" placeholder="Enter a valid email address" required>
            <input type="password" name="account_password" placeholder="Password" required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <div><i>Password must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</i></div>
            <button type="submit">REGISTER</button>
        </form>
    </div>
</body>