<div>
    <h1>Welcome to CSE Motors!</h1>
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <button>Own Today</button>
    <img src="/public/images/vehicles/delorean.jpg" alt="DMC Delorean" style="width: 100; height: auto;">
</div>

<div class="container">
    <div class="upgrades-section">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-boxes">
            <div class="upgrade-box">
                <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor" style="width: 100%; height: auto;">
                <p class="upgrade-title">Flux Capacitor</p>
            </div>
            <div class="upgrade-box">
                <img src="/public/images/upgrades/flame.jpg" alt="Flame Decals" style="width: 100%; height: auto;">
                <p class="upgrade-title">Flame Decals</p>
            </div>
            <div class="upgrade-box">
                <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" style="width: 100%; height: auto">
                <p class="upgrade-title">Bumper Stickers</p>
            </div>
            <div class="upgrade-box">
                <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Caps" style="width: 100%; height: auto;">
                <p class="upgrade-title">Hub Caps</p>
            </div>
            
        </div>
    </div>

    <div class="reviews-section">
        <h2>DMC Delorean Reviews</h2>
        <ul class="reviews-list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it." (5/5)</li>
        </ul>
    </div>
</div>