*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-background: #fff;
  --main-accent: #01b0d3;
}

body {
  margin: 0;
}

#wrapper {
  width: 95%;
  background-color: var(--primary-background);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

/* *************************************************** */

#top-header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#top-header a {
  text-decoration: none;
}

/* *************************************************** */

nav ul {
  display: flex;
  padding: 0;
  background-color: #e6ab02;
}

nav li {
  flex-grow: 1;
  text-align: center;
  list-style: none; /* Remove bullet-points */
  padding: 10px;
  color: black;
}

/* *************************************************** */

button {
  background-color: #e6ab02;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}

/* *************************************************** */

.container {
  display: flex;
  flex-wrap: wrap;
}

.upgrade-section {
  text-align: center;
  padding: 20px;
}

.upgrade-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.upgrade-box {
  width: 45%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}

.reviews-section {
  padding: 10px;
  margin: 10px;
}

.reviews-list li{
  padding: 5px;
  margin: 5px;
}

/* *************************************************** */

@media only screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(45deg, #000 25%, #fff 25%);
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
  }

  #wrapper {
    border: 5px solid #01b0d3;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1vw;
    width: 75vw;
    max-width: 1200px;
  }
}