<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/site/icon.png" type="image/x-icon"/>
</head>
<body>
    <div class="form-container">
        <h1>Add New Classification</h1>
        <div class="flash-message">
            <% if (typeof message !== 'undefined') { %>
                <p><%= message %></p>
            <% } %>
        </div>
        <form action="/inv/add-classification" method="post">
            <input type="text" name="classification_name" placeholder="Classification Name" required>
            <div><i>Cannot contain spaces or special characters.</i></div>
            <button type="submit">Add Classification</button>
        </form>
    </div>
</body>